*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper{
  position: relative;
  margin-left: 0;
}
.navbar-default{
  margin-bottom: 0;
  background-color: transparent;
  position: absolute;
  top:0;
  left: 80%;
  z-index: 100;
  border:0;
}
.navbar-default .navbar-nav >li>a{
  font-size: 18px;
  margin-left: 5px;
  border-radius: 8%;
  color: #ffffff;
}
#masterhead{
  position: relative;
}
#masterhead .container-fluid{
  width:1430px;
  height:720px;
  margin:auto;
  padding:0;
  overflow: hidden;
}
 .box{
  display: block;
  width:12000px;
  height:720px;
  padding:0;
  margin:0;
}
#masterhead .slides{
  float: left;
  width:1430px;
  height:720px;
  list-style-type: none;
}
#masterhead .jumbotron{
  text-align: center;
  background-color: transparent;
  position: absolute;
  top: 10%;
  left: 30%;
  color: white;
  z-index: 100;
}
#masterhead .empty{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
#section .jumbotron{
  background-color:#ccc;
  text-align: center;
  position: relative;
  margin-bottom: 0;
}
#section .container-fluid{
  padding: 0;
}
#services .container-fluid{
  background-color:#6698FF;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}
#section img{
    position: absolute;
    width: 555px;
    height: 396px;
    top: 10%;
    left: 60%;
    border-radius: 5%;
}
.tittle{
  padding-bottom: 20px;
  margin-bottom: 56px;
  border-bottom: #ccc 2px solid;
  display: inline-block;
}
.row .icon{
  font-size: 75px;
}
.row {
  text-align: center;
}
#work{
  background:#333 url("../images/music.jpeg") center  no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 30px;
  position: relative;
}
.overlay{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.70);
  z-index: 99;
}
#work .jumbotron{
  background-color: transparent;
}
#work .jumbotron > h1{
  position: absolute;
  top: 35%;
  left: 43%;
  color: white;
  z-index: 100;
}
#images{
  margin-bottom: 30px;
  text-align: center;
}
.role{
  padding:20px;
  margin: 0 auto;
}
#click{
  /*margin-top: 30px;*/
  text-align: center;
  background-color:#6698FF;
  color: #ffffff;
  padding: 60px;
}
#adress{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
#adress .icon i{
  font-size: 25px;
  padding: 8px;
}
#adress .icon{
  margin: 20px;
}
