*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:"Helvetica Neue", sans-serif;
  background-color:#e4e4e4;

}
.wrapper{
  width: 830px;
  margin: 35px auto;
  padding: 15px;
  background-color: white;
}
.container{
  margin-right: 0;
  width: 800px;
  padding: 50px 100px;
  color: #ffffff;
  background-color: #4EC4F6
}
.container > p{
  font-size: 15px;
  text-align: center;
}
.main > ul{
  overflow: hidden;
  text-align: center;
}
.main > ul >li{
  color: #d6e5eb;
  display: inline-block;
  list-style: none;
  padding: 20px;
  font-size: 15px;
}
.aircraft{
  position: relative;
  margin: 0 auto;
  background-color:#e4e4e4;
  color: #839198;
  padding: 30px;
  width: 300px;
}
.form1{
  /*position: relative;*/
  padding:20px 20px 30px;

  /*margin-bottom: 10px;*/
}
.info-label{
  padding-top: 15px;
  font-size: 12px;
  /*padding-bottom: 15px;*/

}
input,.select{
  /*border-radius: 25%;   */
  margin: 10px;
  font-size: 15px;
  width: 200px;
  height: 30px;
}
.select{
  color: #839198;
  outline: none;
}
.button{
  text-align: right;

}
#next{
  font-size: 15px;
  background-color:#39B0F2;
  color: white;
  width: 70px;
  height: 30px;
  border-radius: 10%;
}
